<aside class="sidebar" role="complementary">
  <section class="widget text-2 widget_text">
    <div class="textwidget">
      <h1 class="masthead"><a href="/">Frontier Files</a></h1>
    </div>
  </section>
  <section class="widget nav_menu-2 widget_nav_menu">
    <h3>Archives</h3>
    <div class="menu-archives-container">
      <ul id="menu-archives" class="menu">
        <li id="menu-item-349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-349"><a
            href="/archives/border-artifacts/">Border Artifacts</a></li>
        <li id="menu-item-350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-350"><a
            href="/archives/border-bookmobile-on-the-road/">Border Bookmobile on the Road</a>
        </li>
        <li id="menu-item-351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-351"><a
            href="/archives/the-border-chronicles/">The Border Chronicles</a></li>
        <li id="menu-item-352" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-352"><a
            href="/archives/without-you-im-nothing-conversations-between-windsor-and-detroit/">Without
            You I’m Nothing: Conversations between Windsor and Detroit</a></li>
      </ul>
    </div>
  </section>
  <section class="widget nav_menu-3 widget_nav_menu">
    <h3>Collaborations</h3>
    <div class="menu-collaborations-container">
      <ul id="menu-collaborations" class="menu">
        <li id="menu-item-353" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-353"><a
            href="/collaborations/border-cultures-diversions/">Border Cultures/Diversions</a>
        </li>
        <li id="menu-item-354" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-354"><a
            href="/collaborations/deterritorializing-paul-bunyan/">Deterritorializing Paul
            Bunyan</a></li>
        <li id="menu-item-355" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-355"><a
            href="/collaborations/detroit-drive-through/">Detroit Drive-Through</a></li>
        <li id="menu-item-356" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-356"><a
            href="/collaborations/publications-multiples/">Publications &#038; Multiples</a>
        </li>
        <li id="menu-item-357" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-357"><a
            href="/collaborations/tour-of-lost-and-forgotten-suburbsstorefront-residencies-for-social-innovation/">Tour
            of Lost and Forgotten Suburbs/Storefront Residencies for Social Innovation</a></li>
        <li id="menu-item-358" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-358"><a
            href="/collaborations/undocumented-windsor-detroit/">Undocumented
            Windsor-Detroit</a></li>
      </ul>
    </div>
  </section>
  <section class="widget text-4 widget_text">
    <div class="textwidget"><small>© Frontier Files 2015</small></div>
  </section>
</aside><!-- /.sidebar -->