{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body class="{{ layout }}">
    <div class="wrap">
      <div class="main" role="main">
        {{ content }}
      </div><!-- main -->
      {% include sidebar.html %}
    </div> <!-- wrap -->
    <div class="abt-tab">
      <a class="abt-toggle" href="#">
        <img src="/assets/img/gold-tab.png" alt="about Frontier Files">
      </a>
      <p>The Frontier Files is an online archive of visual and material culture relating to geographic borders in North America and elsewhere. This site documents the Border Bookmobile Project (2010-2013) which served as the beginning of ongoing research into the relationship between contemporary borders and the western, historical concept of the frontier.  Images and documents chart the shifting aesthetics and politics of borders over the last century. This archive is organized by Lee Rodney, Associate Professor of Media Art Histories and Visual Culture at the University of Windsor, Canada.</p>
      <p><a href="index.html">Read more</a></p>
    </div> <!-- abt-tab -->
    <script type="text/javascript" src="/assets/js/modernizr-45f0e1f4.js"></script>
    <script type="text/javascript" src="/assets/js/main-7a9c15d1.js"></script>
  </body>
</html>